body {
    padding: 0%;
    margin: 0%;
    /* background-color: rgba(94, 51, 4, 0.927); */
    background-color: #212a3e;
    /* overflow: hidden;         */
    
}
.veryTop{
    background-color: #212a3e !important;
}
.navbar-brand{
    font-family: 'Fredericka the Great', cursive;
    font-size: 26px;
    /* color: blue !important; */
}

.nav-link{
    font-size: 18px;
    padding: 0px; 
    margin: 14px;
    color: #EEEEEC  !important;
    font-family: 'Nunito',;
}


.nav-link:hover{
    /* border-radius: 75%;
    background-color: yellow;
    transition: all 250ms ease-in; */
    color: #5A442F !important;
}
/* .active .nav-link{
    color: blue !important;
} */

/* Jumbotron */

.leadImage {
    /* margin-bottom: 0px; */
    padding: 0px;
    max-width: 100%;
    max-height: auto;
    /* background-image: url('portImages/stockImages/developer2.jpg');     */
    background-size: cover;
    background-repeat: no-repeat;  
    background-image: center; 
    opacity: 0.9;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em; 
}




#portfolio-gallery{
    margin: 75px 0px;
}

/* PARALLAX */
#parallax {
    background: url(portImages/Styling/keyboard.png);
    background-attachment: fixed;   /* we tell the background image to be fixed and to stay in it's place */
    background-image: center;
    background-repeat: no-repeat;
    background-size: cover; /*make sure it covers the whole section*/
}
.pageTransition {
    padding: 40px 0px;
    color: white;
    font-size: 34px;
    font-weight: bold;
    font-family: 'Lato';
}

#parallaxEffect {
    height: 700px;
    background-color: #212a3e;
}











/*
Bootstrap 4 Breakpoints:

Extra Small (xs) less than 576px
@media (min-width: 576px){...}

Small       (sm) 576px and up
@media (min-width: 576px){...}

Medium      (md) 768px and up

Large

Extra Large (xl) 1200px and up
*/
